/* style.css */

}
.titlecoffin {
 font-size: 40px;
 color: #4CAF50;
}
.backgroundpic {
  height: 100%;
  width: 100%;
  margin-left: 0px;
  align-self: center;
  position: fixed;
  z-index: -2;
}
.square {
  height: 800px;
  width: 950px;
  margin-left: 100px;
  position: sticky;
  background-color: #DBDEEA;
  z-index: -1;
}
.topnav {
  overflow: hidden;
  margin-left: 100px;
  margin-right: 122px;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #4CAF50;
  color: black;
}
.Coffins {
  margin-left: 100px;
  height: 140px;
  padding: 5px;
  z-index: 2;
}
